body {
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.player1, .player2 {
    grid-row: 2;
}

#player1-footer, #player2-footer {
    grid-row: 3;
}

p {
    text-align: center;
}