* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.player1, .player2 {
    grid-row: 2;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

.number-signs {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#player1-footer, #player2-footer {
    grid-row: 3;
}

p {
    text-align: center;
}

.battlefield-table-1, .battlefield-table-2 {
    width: 360px;
    height: 360px;
    border: 2px solid rgb(57, 181, 222);
    border-collapse: collapse;
    grid-column: 2;
    grid-row: 2;
}

tbody {
    width: 100%;
    height: 100%;
}

.battlefield-row {
    border: 1px solid blue;
    height: 10%;
    width: 100%;
}

.battlefield-cell {
    border: 2px solid rgb(176, 146, 234);
    margin: 0;
    padding: 0;
}

.battlefield-cell-content {
    height: 100%;
    width: 100%;
}


td.battlefield-cell-occupied-hit > div {
    background-color: red;
}

td.battlefield-cell-occupied-miss>div {
    background-color: rgb(226, 226, 226);


}