body {
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.player1, .player2 {
    grid-row: 2;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player1-footer, #player2-footer {
    grid-row: 3;
}

p {
    text-align: center;
}

.board-grid {
    border: 2px solid blue;
    width: 350px;
    height: 350px;
}